In [2]:
import pandas as pd

#test data
df = pd.read_csv("test.csv")

In [3]:
#train data
trainData = pd.read_csv("train.csv")

In [ ]:
df.shape

(977, 799)

In [ ]:
trainData.shape

(1565, 800)

In [ ]:
df.columns

Index(['row_id', 'scout_id', 'winner', 'team', 'competitionId',
       'player_position_1', 'player_position_2', 'player_height',
       'player_weight', 'player_general_var_0',
       ...
       'team2_defensive_derived_var_10', 'team2_offensive_derived_var_11',
       'team2_offensive_derived_var_12', 'team2_offensive_derived_var_13',
       'team2_offensive_derived_var_14', 'team2_defensive_derived_var_15',
       'team2_offensive_derived_var_16', 'team2_defensive_derived_var_17',
       'team2_offensive_derived_var_18', 'team2_offensive_derived_var_19'],
      dtype='object', length=799)

In [ ]:
df.describe()

,row_id,scout_id,competitionId,player_position_1,player_position_2,player_height,player_weight,player_general_var_0,player_general_var_1,player_general_var_2,...,team2_defensive_derived_var_10,team2_offensive_derived_var_11,team2_offensive_derived_var_12,team2_offensive_derived_var_13,team2_offensive_derived_var_14,team2_defensive_derived_var_15,team2_offensive_derived_var_16,team2_defensive_derived_var_17,team2_offensive_derived_var_18,team2_offensive_derived_var_19
count,977.000000,977.000000,976.000000,972.000000,972.000000,971.000000,971.000000,977.000000,977.000000,977.000000,...,932.000000,964.000000,932.000000,932.000000,932.000000,932.000000,932.000000,932.000000,932.000000,932.000000
mean,15503.052201,9.746162,7.702869,7.601852,8.066872,0.475246,0.441668,0.022723,0.003071,0.077558,...,0.350484,0.183400,0.250304,0.589959,0.475202,0.494072,0.110878,0.422114,0.415516,0.335455
std,8554.318560,5.844032,2.559213,5.005138,4.831523,0.160387,0.136477,0.070823,0.055356,0.208033,...,0.138600,0.051459,0.141133,0.148559,0.157951,0.138302,0.063267,0.103268,0.114618,0.141565
min,31.000000,1.000000,4.000000,1.000000,1.000000,0.024390,0.080000,0.000000,0.000000,0.000000,...,0.044690,0.000000,0.000000,0.167333,0.000000,0.103969,0.009267,0.044144,0.060391,0.000000
25%,7957.000000,3.000000,5.000000,3.000000,4.000000,0.365854,0.340000,0.000000,0.000000,0.000000,...,0.252150,0.158441,0.144848,0.504685,0.372855,0.402952,0.065681,0.357396,0.339706,0.231764
50%,15485.000000,12.000000,8.000000,7.000000,8.000000,0.487805,0.440000,0.000000,0.000000,0.000000,...,0.336220,0.185168,0.239565,0.601515,0.474806,0.496212,0.099121,0.420916,0.414720,0.320256
75%,23416.000000,15.000000,10.000000,11.000000,11.000000,0.585366,0.540000,0.000000,0.000000,0.000000,...,0.437188,0.213575,0.339664,0.696028,0.582188,0.590547,0.141996,0.484863,0.492406,0.437457
max,29217.000000,26.000000,15.000000,19.000000,19.000000,0.926829,0.960000,0.600000,1.000000,0.931373,...,0.962835,0.327644,1.000000,0.961453,0.929935,0.950173,0.390436,1.000000,0.750036,0.875000

In [ ]:
df.isnull().sum()

In [ ]:
df['competitionId'].isnull().unique()

In [ ]:
df.head()

In [ ]:
df.isnull().sum()

In [ ]:
df.columns

In [ ]:
trainData.columns

In [6]:
trainData.isnull().sum()

row_id                            0
scout_id                          0
rating_num                        0
winner                            0
team                              0
                                 ..
team2_defensive_derived_var_15    0
team2_offensive_derived_var_16    0
team2_defensive_derived_var_17    0
team2_offensive_derived_var_18    0
team2_offensive_derived_var_19    0
Length: 800, dtype: int64

In [5]:
trainData['team2_defensive_derived_var_15'] = trainData['team2_defensive_derived_var_15'].fillna(trainData['team2_defensive_derived_var_15'].mean())
trainData['team2_offensive_derived_var_16'] = trainData['team2_offensive_derived_var_16'].fillna(trainData['team2_offensive_derived_var_16'].mean())
trainData['team2_defensive_derived_var_17'] = trainData['team2_defensive_derived_var_17'].fillna(trainData['team2_defensive_derived_var_17'].mean())
trainData['team2_offensive_derived_var_18'] = trainData['team2_offensive_derived_var_18'].fillna(trainData['team2_offensive_derived_var_18'].mean())
trainData['team2_offensive_derived_var_19'] = trainData['team2_offensive_derived_var_19'].fillna(trainData['team2_offensive_derived_var_19'].mean())

0

In [ ]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
import joblib
from sklearn import tree


model = DecisionTreeClassifier()
model.fit(trainData,df) #throws an error due to the presence of string

In [40]:
trainData['winner'].unique()

array([1, -1, 0], dtype=object)

In [39]:
trainData['team'].unique()

array([1, 2], dtype=object)

winner coloumn and team coloum having string values they can not be used for model building hence we can convert them as

winner - (1)  
loser - (-1)  
draw - (0)   

similarly  
team1 - (1)  
team2 - (2)

In [ ]:
trainData.winner[trainData.winner == 'winner'] = 1
trainData.winner[trainData.winner == 'loser'] = -1
trainData.winner[trainData.winner == 'draw'] = 0

In [ ]:
trainData.team[trainData.team == 'team1'] = 1
trainData.team[trainData.team == 'team2'] = 2

In [37]:
trainData

,row_id,scout_id,rating_num,winner,team,competitionId,player_position_1,player_position_2,player_height,player_weight,...,team2_defensive_derived_var_10,team2_offensive_derived_var_11,team2_offensive_derived_var_12,team2_offensive_derived_var_13,team2_offensive_derived_var_14,team2_defensive_derived_var_15,team2_offensive_derived_var_16,team2_defensive_derived_var_17,team2_offensive_derived_var_18,team2_offensive_derived_var_19
0,1,13,7.0,1,1,8,7.0,7.0,0.317073,0.48,...,0.193658,0.131548,0.097131,0.600944,0.338892,0.347980,0.034157,0.288962,0.310727,0.204925
1,3,16,6.5,-1,2,8,3.0,9.0,0.463415,0.42,...,0.190500,0.173697,0.272801,0.605659,0.526761,0.468976,0.054034,0.334962,0.380073,0.295392
2,4,4,8.5,-1,1,5,11.0,11.0,0.682927,0.44,...,0.312314,0.250756,0.212631,0.558833,0.686523,0.441749,0.219441,0.414288,0.570757,0.437500
3,5,13,8.0,-1,2,4,17.0,17.0,0.682927,0.58,...,0.282556,0.155969,0.206503,0.533002,0.373959,0.527733,0.095201,0.423040,0.330754,0.235558
4,7,11,3.5,0,1,5,10.0,10.0,0.731707,0.70,...,0.450453,0.199050,0.134002,0.688773,0.681724,0.733625,0.128719,0.448360,0.444946,0.312500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12393,17144,17,7.5,-1,2,4,9.0,9.0,0.170732,0.22,...,0.294480,0.184267,0.218051,0.716666,0.676411,0.506017,0.154423,0.394022,0.370068,0.096560
12394,17145,10,9.0,1,2,7,12.0,12.0,0.268293,0.20,...,0.479275,0.209722,0.224076,0.719337,0.574142,0.454131,0.050477,0.390042,0.439018,0.220655
12395,17146,4,3.5,1,1,7,2.0,2.0,0.658537,0.76,...,0.454963,0.244119,0.311739,0.574328,0.625087,0.741997,0.265550,0.546833,0.427211,0.234869
12396,17147,1,0.0,-1,2,8,2.0,2.0,0.682927,0.72,...,0.181012,0.211895,0.089368,0.799800,0.777246,0.494768,0.091914,0.444062,0.477072,0.543838
12397,17148,13,10.0,1,1,8,11.0,11.0,0.439024,0.28,...,NaN,NaN,NaN,NaN,NaN,0.498557,0.113949,0.425089,0.420816,0.330647